<nav class="navbar navbar-expand-sm bg-warning"> 
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <i class="fa fa-futbol-o">&nbsp; </i>
    <i class="text-dark">{{ title }}</i>
  </a>
  <ul class="nav navbar-nav">
    <li class="new-item pull-left">
      <a class="nav-link active; text-dark" href="" routerLink="/standings">Standings</a>
    </li>
    <li>
      <a class="nav-link active; text-dark" href="" routerLink="/scorings">Scoring</a>
    </li>
    <li class="nav-item float-xs-right">
      <a class="nav-link active; text-dark" routerLink="/admin">Admin</a>
    </li>
  </ul>
  </div>
</nav>
<p style="margin-left: 20px;">
<router-outlet></router-outlet>
</p>